/* styles.css */
.no-border .ant-table-row {
  border: none;
  /* Remove row borders */
}

.ant-table {
  border: none;
  /* Remove table borders */
}

.ant-table td {
  border: none;
  /* Remove cell borders */
}

.desciption-font {
  font-size: 18px;
}

.ant-tooltip {
  transition: opacity 1s ease-in-out !important; /* Adjust duration and easing here */
}